# Databases settings
DB_DATABASE="bbbrecord"
DB_NAME="bbbrecord"
DB_PASSWORD="123changeme"
DB_USER="bbbrecord"
DB_PORT="5432"
DB_HOST="database"

# Django config
## General config
API_SECRET_KEY="replaceme"
DEBUG=0
## Records settings
RECORDS_PATH="/bbb/"
MEDIA_ROOT="/home/app/media"
BBB_RECORDS_DIR="/var/bigbluebutton/published/presentation/"
#REDIS_URL="redis://redis:6379"

